@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --poppins: 'Poppins', sans-serif;
  --dm-serif: 'DM Serif Display', serif;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--poppins);
  overflow-x: hidden;
}

button {
  font-family: inherit !important;
}

.container {
  width: 100%;

  margin-right: auto;
  margin-left: auto;
  @apply px-4 sm:px-0;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
@media (min-width: 1550px) {
  .container-footer {
    width: 1470px;
  }
}

.hero-bg::before {
  content: '';
  @apply absolute top-0 bottom-0 w-full h-full bg-[#1f375fb2] pointer-events-none;
}
